<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{name}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>
